<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color:var(--color-primary);
    background:var(--color-background);
}



:root{
    --color-primary: rgb(193, 193, 193);
    --color-background: rgb(21, 20, 20);
    --color-border: rgb(177, 229, 208);

}

nav{
    display: grid;
    grid-template-columns: 40% 50% 10% ;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.comma{
    font-family: 'Palatino';
}

.name{
    text-align: center;
    font-size: 32px;
}

.nav-elements{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-weight: 600;
}

section{
    position: relative;
    padding: 5%;
}

.section-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.image{
    padding: 10%;
}

.image img{
    height: 500px;
    border: 5px solid var(--color-border);
    border-radius: 50%;
    filter: brightness(0.4);
}

.details{
    position: relative;
}

.greetings{
    position: absolute;
    font-size: 32px;
    left: 0%;
    top: -20%
}

.nameDiv{
    font-size: 6rem;
    letter-spacing: 3px;
    font-weight: 900;
}

.desc{
    display: inline-block;
}

.flag{
    display: inline;
    padding: 5px 3px;
}

.socials{
    margin-top: 3rem;
}

.icon{
    padding: 10px 0px;
    margin: 0 10px;
}

.smallNav{
    display: none;
}


@media only screen and (max-width: 600px) {
    .image img{
        margin-top: 10px;
        height: 300px;
        border: 5px solid var(--color-border);
        border-radius: 50%;
        filter: brightness(0.4);
    }

    .details{
        position: relative;
        margin-top: 50px;
        text-align: center;
    }
    .greetings{
        position: relative;
        font-size: 32px;
        left: 0%;
        top: -20%
    }
    .section-one {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .hidden{
        display: none;
    }
    .smallNav{
        display: block;
    }

    #nav{
        display: none;
    }

    .small-nav-elements{
        display: flex;
        flex-direction: column;
        width: 100%;
        top:10%;
        left:50%;
        transform: translate(-50%);
        z-index: 1;
        height: 200px;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .lines:before{
        position: absolute;
        content: '';
        display: block;
        top: 4%;
        right: 10%;
        height: 2px;
        width: 30px;
        border-top: 2px solid var(--color-primary);
    }
    .middle::before{
        top:5%;
    }
    .bottom::before{
        top:6%;
    }
    .last{
        display: none;
    }
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color:var(--color-primary);
    background:var(--color-background);
}



:root{
    --color-primary: rgb(193, 193, 193);
    --color-background: rgb(21, 20, 20);
    --color-border: rgb(177, 229, 208);

}

nav{
    display: grid;
    grid-template-columns: 40% 50% 10% ;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.comma{
    font-family: 'Palatino';
}

.name{
    text-align: center;
    font-size: 32px;
}

.nav-elements{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-weight: 600;
}

section{
    position: relative;
    padding: 5%;
}

.section-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.image{
    padding: 10%;
}

.image img{
    height: 500px;
    border: 5px solid var(--color-border);
    border-radius: 50%;
    filter: brightness(0.4);
}

.details{
    position: relative;
}

.greetings{
    position: absolute;
    font-size: 32px;
    left: 0%;
    top: -20%
}

.nameDiv{
    font-size: 6rem;
    letter-spacing: 3px;
    font-weight: 900;
}

.desc{
    display: inline-block;
}

.flag{
    display: inline;
    padding: 5px 3px;
}

.socials{
    margin-top: 3rem;
}

.icon{
    padding: 10px 0px;
    margin: 0 10px;
}

.smallNav{
    display: none;
}


@media only screen and (max-width: 600px) {
    .image img{
        margin-top: 10px;
        height: 300px;
        border: 5px solid var(--color-border);
        border-radius: 50%;
        filter: brightness(0.4);
    }

    .details{
        position: relative;
        margin-top: 50px;
        text-align: center;
    }
    .greetings{
        position: relative;
        font-size: 32px;
        left: 0%;
        top: -20%
    }
    .section-one {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .hidden{
        display: none;
    }
    .smallNav{
        display: block;
    }

    #nav{
        display: none;
    }

    .small-nav-elements{
        display: flex;
        flex-direction: column;
        width: 100%;
        top:10%;
        left:50%;
        transform: translate(-50%);
        z-index: 1;
        height: 200px;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .lines:before{
        position: absolute;
        content: '';
        display: block;
        top: 4%;
        right: 10%;
        height: 2px;
        width: 30px;
        border-top: 2px solid var(--color-primary);
    }
    .middle::before{
        top:5%;
    }
    .bottom::before{
        top:6%;
    }
    .last{
        display: none;
    }
>>>>>>> 9b93b46fe4f45213bc3cb79f41b4a5a2a2da3b5e
}  